@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Delete " + Model.ProductName;
}

<h2 class="text-center py-3">@ViewData["Title"]</h2>

<h4 class="alert alert-danger text-center py-3">Are you sure you want to delete @Model.ProductName?</h4>
<div class="row mb-3">
    @* <h4>Product</h4>
    <hr /> *@
    <dl class="row col-sm-10 offset-md-4">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescript)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescript)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductStatus.ProductStatusName)
        </dd>
    </dl>
</div>

<div class="form-group text-center">
    <input type="hidden" asp-for="ProductId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</div>
