@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = Model.ProductName + " Details";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home</a>
                    <span>@Html.ActionLink("Shop","Index","Products")</span>
                    <span>@Model.ProductName</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<h2 class="text-center py-3 m-4">@ViewData["Title"]</h2>


<div class="row mb-3">
   @*  <h4>Product</h4>
    <hr /> *@
  @*   <dl class="row col-sm-10 offset-md-4">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/t_@Model.ProductImage" alt="@Model.ProductName" longdesc="@Model.ProductDescript" class="img-fluid"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescript)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescript)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductStatus.ProductStatusName)
        </dd>
    </dl> *@
    <div class="col-md-6 text-center">
        <img src="~/images/@Model.ProductImage" alt="@Model.ProductName" longdesc="@Model.ProductDescript" class="img-fluid" />
        <p class="text-info mt-3">
            @Html.DisplayFor(model => model.ProductDescript)
        </p>
    </div>
    <div class="col-md-4 offset-md-1">
        <p class="h3">
            <strong>@Html.DisplayNameFor(model => model.ProductPrice):</strong>
            @Html.DisplayFor(model => model.ProductPrice)
        </p>
        <p class="h3">
            <strong>In Stock?</strong>
            @{
                string inStock; 
                if(Model.ProductStatus.ProductStatusName == "InStock")
                {
                    inStock ="Yes";
                }
                else
                {
                    inStock = "No";
                }
                <span>@inStock</span>
            }
            
        </p>
        <p class="h3">
            <strong>@Html.DisplayNameFor(model => model.UnitsInStock):</strong>
            @Html.DisplayFor(model => model.UnitsInStock)
        </p>
        <p class="h3">
            <strong>@Html.DisplayNameFor(model => model.Category.CategoryName):</strong>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </p>
    </div>
</div>
<div>

</div>
<div class="form-group text-center">
    <a class="btn btn-secondary m-4" asp-action="Index">Cancel</a>
</div>
