@model IEnumerable<StoreFront.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h2 class="text-center py-3">@ViewData["Title"]</h2>

<p class="text-center">
    <a class="btn btn-primary" asp-action="Create">Add Product</a>
</p>

<table class="table table-hover table-striped col-md-9 offset-md-2 text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.ProductDescript)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
         @*    <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
       @*      <td>
                @Html.DisplayFor(modelItem => item.ProductDescript)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
         @*    <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStatus.ProductStatusName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
