@model Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>

@{
    ViewData["Title"] = "Cart";
    decimal? cartTotal = 0;
}

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if(Model.Count == 0){
                <p class="alert alert-warning text-center">
                    @ViewBag.Message
                </p>
                }
                else
                {
                <div class="shop__cart__table">
                    <table class="table table-striped table-hover mx-2">
                        <thead class="text-center">
                            <tr>
                                <th>Image</th> @* th = table header*@
                                <th>Quantity</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th></th> @* Left empty for actions *@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                                {  
                                <tr class="text-center">
                                    <td class="cart__product__item">
                                         <img src="~/images/t_@item.Value.Product.ProductImage" alt="@item.Value.Product.ProductName" />
                                    </td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <form asp-action="UpdateCart">
                                                <input type="hidden" name="productId" value="@item.Key" />
                                                <input type="text" name="qty" value="@item.Value.Qty"
                                                        class="form-control d-block mx-auto text-center w-50" />
                                                <input type="submit" value="Update Cart" class="btn btn-primary btn-sm" />
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cart__product__item__title">
                                            <h6>@item.Value.Product.ProductName</h6>
                                        </div>
                                    </td>
                                    <td class="cart__price">@Html.DisplayFor(modelItem => item.Value.Product.ProductPrice)</td>
                                     <td class="cart__total">
                                            @{
                                                decimal? lineTotal = item.Value.Qty * item.Value.Product.ProductPrice;//total for 1 line item
                                            }
                                            @string.Format($"{lineTotal:c}")
                                     </td>
                                    <td><a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-id="@item.Key" class="btn btn-danger mx-5">Remove From Cart</a></td>
                            </tr>
                                }
                        </tbody>
                    </table>
                </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="@Url.Action("Index", "Products")">Continue Shopping</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="discount__content">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Enter your coupon code">
                        <button type="submit" class="site-btn">Apply</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal
                            <span>
                            @string.Format($"{cartTotal:c}")
                            </span>
                        </li>
                        <li>Total <span>@string.Format($"{cartTotal:c}")</span></li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>
                            <a asp-action="SubmitOrder" class="btn btn-success">
                                Submit Order
                            </a>
                        </p>
                    }
                    else
                    {
                        <p>
                            To place this order, you must be logged in
                        </p>
                        <a asp-area="Identity" asp-page="/Account/Login" class=" btn btn-primary">Login</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->