@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@{
    //Create a bool that determines whether there are items in the cart
    bool cartHasProducts = false;

    //Create a variable to store the number of products
    int productCount = 0;

    //Check if the "cart" string exists in Session
    if (!String.IsNullOrEmpty(Context.Session.GetString("cart")))
    {
        //If we fall into this scope, the cart exists. Flip the bool.
        cartHasProducts = true;

        //Create the Dictionary to hold the cart items
        var products = new Dictionary<int, CartItemViewModel>();

        //Deserialize the session cart and store it in the Dictionary
        products = JsonConvert.DeserializeObject<Dictionary<int, CartItemViewModel>>(Context.Session.GetString("cart"));

        //Reassign our productCount variable to the sum of the Quantity of CartItems
        productCount = products.Sum(p => p.Value.Qty);
    }

}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="@ViewData["Title"]">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] | StoreFront</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css"/>
    <link rel="stylesheet" href="~/css/style.css" type="text/css"/>
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li>
                <a href="#">
                    <span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            <a href="~/"><img src="~/images/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>

                            <li><a href="~/">Home</a></li>
                            
                            

                            @if (User.IsInRole("Admin"))
                            {
                            <li>
                                <a href="#">Admin</a>
                                <ul class="dropdown">
                                    <li><a asp-action="ListUsers" asp-controller="Administration">Users</a></li>
                                    <li><a asp-action="ListRoles" asp-controller="Administration">Roles</a></li>
                                    <li><a asp-action="Index" asp-controller="CustomerDetails">Customer Details</a></li>
                                    <li><a asp-action="Index" asp-controller="Categories">Categories</a></li>
                                </ul>
                            </li>
                            }
                            <li>
                                <a class="nav-link" asp-action="Index" asp-controller="Products">Shop</a>
                            </li>

                            @if (signInManager.IsSignedIn(User))
                            {
                               
                                <li><a asp-action="Index" asp-controller="Orders">Orders</a></li>
                             
                            }

                            <li>
                                <a asp-action="Contact" asp-controller="Home">Contact</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                          <partial name="_LoginPartial" /> @*Browser Login for AUTH : Delete Login Buttons in headers and replace with this*@
                        </div>
                        <ul class="header__right__widget">
                            <li>
                                <a class="nav-link" asp-action="Index" asp-controller="ShoppingCart">
                                    <span class="icon_bag_alt"></span>
                                    <sup>@productCount</sup>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
  
   @RenderBody()
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="~/images/logo.png" alt=""></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.
                        </p>
                        <div class="footer__payment">
                            <a href="#"><img src="~/images/payment-1.png" alt=""></a>
                            <a href="#"><img src="~/images/payment-2.png" alt=""></a>
                            <a href="#"><img src="~/images/payment-3.png" alt=""></a>
                            <a href="#"><img src="~/images/payment-4.png" alt=""></a>
                            <a href="#"><img src="~/images/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    @RenderSection("scripts",false)
</body>

</html>